// base
@import './base/reset';
@import './base/fonts';

//layout
@import './layout/header';
@import './layout/index'; 
@import './layout/alianza';
@import './layout/metodologia'; 
@import './layout/tuc'; 
@import './layout/contacto';
@import './layout/footer'; 

//components

//utilities
@import './utilities/variables'; 
@import './utilities/mixins'; 






