/** ALIANZA **/ 
section {
    #titulo-alianza {
        font-size: 300%;
        padding: 50px;
        font-weight:bolder
    }
}

div.container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    .logos-instituciones {
        width: 100%;
        display: flex;
        justify-content: space-around    
    }
        .col p {
            font-size: 100%;
            font-family: 'Poppins', sans-serif;
            display: flex;
            align-content: center;
            justify-content: center;
        }
}
