.main-alianza {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
  }
  
  .column {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .image {
    text-align: center;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
  }

  .text {
    text-align: center;
  }

  /* Separación entre filas */
  .column:not(:first-child) {
    margin-top: 20px;
  }
  
  /* Diseño responsive */
  @media (max-width: 768px) {
    .column {
      flex-basis: 100%;
    }
}
  @media (max-width: 500px) {
  .column {
    flex-basis: 100%;
  }
}