
@import '../utilities/variables'; 
@import '../utilities/mixins';

body {
    background-color: $color-fondo; 
}

section {
    h1 {
    font-family: 'Poppins';  
    font-size: 300%;
    padding: 25px;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    }
    .img-fluid {
    width: 100%;
    }
    p {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;   
    }
    #parrafo-index {
    font-size: 180%;   
    }
}

h2 {
    @include estilo-h2; 
}

.section-index {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
  }
  
  .column-index {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .image-index {
    text-align: center;
  }
  
  .image-index img {
    max-width: 100%;
    height: auto;
  }

  .text {
    text-align: center;
  }

  .texto-vinculado-index:hover {
    font-weight: bolder;
  }

  /* Separación entre filas */
  .column-index:not(:first-child) {
    margin-top: 20px;
  }