/** METODOLOGÍA **/

section {

#contenedor-imagen {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 30px;
}

#metodologia-imagen {
    max-width: 100%;
}

#parrafo-metodologia {
    font-size: 120%;
    text-align: justify;
    padding: 5%;
}
}

