@charset "UTF-8";
/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* CABECERA */
.logo-home {
  height: 50px;
}

body {
  background-color: antiquewhite;
}

section h1 {
  font-family: "Poppins";
  font-size: 300%;
  padding: 25px;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
}
section .img-fluid {
  width: 100%;
}
section p {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  justify-content: center;
}
section #parrafo-index {
  font-size: 180%;
}

h2 {
  font-family: "Poppins";
  font-size: 300%;
  text-align: center;
  padding: 30px;
  font-weight: bolder;
}

.section-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.column-index {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.image-index {
  text-align: center;
}

.image-index img {
  max-width: 100%;
  height: auto;
}

.text {
  text-align: center;
}

.texto-vinculado-index:hover {
  font-weight: bolder;
}

/* Separación entre filas */
.column-index:not(:first-child) {
  margin-top: 20px;
}

.main-alianza {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.column {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.image {
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
}

.text {
  text-align: center;
}

/* Separación entre filas */
.column:not(:first-child) {
  margin-top: 20px;
}

/* Diseño responsive */
@media (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }
}
@media (max-width: 500px) {
  .column {
    flex-basis: 100%;
  }
}
/** METODOLOGÍA **/
section #contenedor-imagen {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
}
section #metodologia-imagen {
  max-width: 100%;
}
section #parrafo-metodologia {
  font-size: 120%;
  text-align: justify;
  padding: 5%;
}

/** TUC **/
section #parrafo-tuc {
  font-size: 120%;
}

#tarjetas-ciudades {
  display: flex;
  flex-flow: wrap;
  padding: 40px;
  justify-content: center;
  justify-content: space-around;
}

section #imagen-contacto {
  width: 70%;
}
section #contenedor-contacto {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
}
section #boton-enviar {
  border-top: 30px solid antiquewhite;
  border-bottom: 30px solid antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** FOOTER **/
footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
footer .footer-container {
  max-width: 960px;
  margin: 0 auto;
}
footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-links a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}
footer .social-links img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Diseño responsive */
@media (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }
  h2 {
    font-size: 250%;
  }
  section #parrafo-metodologia {
    font-size: 110%;
  }
  section #parrafo-index {
    font-size: 150%;
  }
}
@media (max-width: 500px) {
  .column {
    flex-basis: 100%;
  }
  h2 {
    font-size: 170%;
  }
  section #parrafo-metodologia {
    font-size: 90%;
  }
  section #parrafo-index {
    font-size: 120%;
  }
}

/*# sourceMappingURL=styles.css.map */
